body {
    font-family: Arial, sans-serif;
}
button {
    background-color: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;

    width: 100%;
    height: 100%;
}
button:hover,
button:active {
    color: #FAF000;
}
button:active {
    font-size: 11px;
}
.label {
    color: #0D2A4D;
    position: absolute;
    margin-left: 10px;
    top: 35px;
}
body {
    margin: 0px;
}
#ad {
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    width: 298px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    background-color: #FFF;
    overflow: hidden;
}
.buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 13;
}
.button {
    height: 26px;
    width: 108px;
}
.label {
    top: 65px;
}
/*.buttons {
  left: 10px;
  bottom: 60px;
}

.buttons button{
  margin: 3px 0;
}*/


/* OWN STYLES */
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    cursor:default;
}

#ad {
    border: 1px solid #be112c;
}

#banner {
    position: relative;
}
#logo-ariston {
    position: absolute; z-index:11;
    top: 30px;
    left: 50%;
    max-width: 220px;
    width: 100%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
#logo-ariston img {
    float: left;
    width:100%;
}

#bg-banner {
    position: absolute; z-index:10;
    top:0; right:0; bottom:0; left:0;
}
#banner span.stripe {
    position: absolute;
    background-color: #be112c;
}
#banner span.hr {
    width: 100%;
    height: 16px;
}
#banner span.vr {
    width: 16px;
    height: 100%;
}
#banner span.top { top:0; left:0; }
#banner span.right { top:0; right:0; }
#banner span.bottom { bottom:0; right:0; }
#banner span.left { bottom:0; left:0; }

p[class *= 'title'], .link {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height:1em;
    letter-spacing:-2px;
}

#frame1 {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    z-index:11;
}

#frame2.absolute, #frame3.absolute {
    position: absolute;
    top:0;
}

#frame1 p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #9d9d9c;
}
#frame1 .f1-arrows {
    position: absolute;
    bottom: 66px; left: 50%;
    transform: translate3d(-50%, 0, 0);

    max-width: 156px; width:100%;
    max-height: 50px; height: 100%;
    background-image:url('../images/f1-arrows.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:-206px center;
}

#frame1 .f1-arrows.anim {
    cursor:pointer;

    -webkit-animation: move-in-steps 1.6s steps(12) infinite;
    -moz-animation: move-in-steps 1.6s steps(12) infinite;
    -o-animation: move-in-steps 1.6s steps(12) infinite;
    animation: move-in-steps 1.6s steps(12) infinite;
}

#frame2 {
    position: relative;
    width:100%; height:100%;
    z-index:2;
}

#frame2 p {
    position:absolute;
    width:100%; z-index:4;
    bottom:88px;

    font-size:22px;
    color:white;
    text-align: center;
    letter-spacing: -1px;

    margin:0;

    text-shadow:0px 0px 10px rgba(0,0,0,.2);
}

#frame2 img {
    position:absolute;
    width:100%; display:block;
    z-index:0;
}

#frame2 img.active { z-index:2; }
#frame2 img.nextframe { z-index:1; }
#frame2 img.prevframe { z-index:3; }


#frame3 {
    position: relative;
    width:100%; height:100%;
    z-index:1;
    background-color:#f9d45b;
}
#lastclaim{
    background-color:#FFF;
}
.subframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#frame3 img {
    width:100%;
    display:block;
}

#frame3 .f3-title, #frame3 .link {
    position:absolute;
    width:100%;
    top:50%;
    text-align: center;
    margin:0;
}
#frame3 .f3-title {
    transform:translate3d(0, -80%, 0);

    font-size:47px;
    color:#9d9d9c;
}

#frame3 .link {
    color:#be112c;
    font-size:20px;
    letter-spacing: -1px;
    transform: translate3d(0, 200%, 0);
}

#phonehand, #caldera, #sello {
    position:absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}
#phonehand {
    max-width:190px;
    bottom: 0;
    z-index:1;
}
#caldera {
    max-width:174px;
    transform: translate3d(-45%, 0, 0);
}
#sello {
    max-width:100px;
    z-index: 1;
    transform: translate3d(-110%, 60%, 0);
}

#sello_last_frame {
    position:absolute;
    left: 50%;
    bottom:20%;   
    max-width:100px;
    z-index: 1;
    transform:matrix(1, 0, 0, 1, -50, 0) !important;
    opacity:0;
    transition: width 12s;
    transition-timing-function: ease-in;
}

#sello_last_frame.effect {
    opacity:1;
    transition: opacity 2s; 
}

#ariston_link{
    max-width:100px;
    z-index: 1;
    transform:matrix(1, 0, 0, 1, 90, 200) !important;
}

#wifi-signal {
    position: absolute;
    max-width: 72px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-30%,0);
    height: 56px;
}

img.wifibar {
    position: absolute;
}

#switch {
    position: absolute; width: 100%;
    bottom:170px;
    z-index: 11;
}
#switch .degree-display {
    font-family: 'Montserrat', sans-serif;
    font-size: 0;
    color: white;
    text-align: center;

    width: 162px; height: 32px;
    margin: 0 auto;
    background-color: #be112c;
}
.degree-display span {
    font-size: 30px;
    line-height: 1.1em;
    display: inline-block;
}
#switch div[class *= 'arrow-'] {
    position: absolute;
    height: 35px;
    width: 19px;
    top: -1px;
    cursor: pointer;
    background-size: initial;
    background-repeat: no-repeat;
}
#switch .arrow-left {
    background-image:url('../images/menu-arrow-left.png');
    background-position:-20px center;
    left:32px;
    width: 32px !important;
}
#switch .arrow-right {
    background-image: url(../images/menu-arrow-right.png);
    background-position: 24px center;
    right: 30px;
    width: 56px !important;
}
#switch .arrow-left:hover { background-position:12px center; }
#switch .arrow-right:hover { background-position:-8px center; }
#switch div[class *= 'sym-'] {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;

    top:50%;
    -webkit-transform:translate3d(0, -50%, 0);
    transform:translate3d(0, -50%, 0);

    cursor:pointer;
}
#switch .sym-minus { left:74px; }
#switch .sym-plus { right:74px; }

.hidden {
    display:none !important;
}

@-moz-keyframes move-in-steps {
    0% {
        background-position:-206px center;
    }
    100% {
        background-position:103px center;
    }
}
@-webkit-keyframes move-in-steps {
    0% {
        background-position:-206px center;
    }
    100% {
        background-position:103px center;
    }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  0%   { background-position:-206px center;}
  100% { background-position:103px center; }
}
@keyframes move-in-steps {
    0% {
        background-position:-206px center;
    }
    100% {
        background-position:103px center;
    }
}